pkgbase = amazon-workspaces-bin
	pkgdesc = Amazon Workspace Client
	pkgver = 2024.8.5130
	pkgrel = 1
	url = https://clients.amazonworkspaces.com/
	arch = x86_64
	license = non-free
	makedepends = binutils
	makedepends = tar
	depends = gtk3
	depends = webkit2gtk
	depends = icu63
	depends = libsoup
	depends = graphicsmagick
	depends = hiredis0.14
	depends = openssl-1.1
	depends = libva
	options = staticlibs
	source = amazon-workspaces-bin-2024.8.5130.deb::https://d3nt0h4h6pmmc4.cloudfront.net/new_workspacesclient_focal_amd64.deb
	source = amazon-workspaces-bin-2024.8.5130.info::https://d3nt0h4h6pmmc4.cloudfront.net/ubuntu/dists/focal/main/binary-amd64/Packages
	source = lsb_release
	source = workspacesclient-wrapper
	sha256sums = 880157ef0361b696b34e5ad0957252bc3fd91b8b7a3b992623901fd3880120ca
	sha256sums = b86729bff47a50f07005b6d3df8449bb594d07ef5fc07cb928b3982763bfb164
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = amazon-workspaces-bin
